# Ignore all PDF files
*.pdf

# Ignore all TXT files
*.txt

# Ignore all PNG files
*.png

# Ignore contents of shared folder but keep the folder itself
shared/*
# Add this exception to keep the .gitkeep file
!shared/.gitkeep 